In [132]:
import numpy as np
import pandas as pd

In [133]:
# 讀取資料
train_data = pd.read_csv('/Users/kevinpiger/Desktop/100天競賽/scikit-learn/train.csv', header= None)
train_label = pd.read_csv('/Users/kevinpiger/Desktop/100天競賽/scikit-learn/trainLabels.csv',header= None)
test_data = pd.read_csv('/Users/kevinpiger/Desktop/100天競賽/scikit-learn/test.csv',header= None)

In [134]:
train_data.head(5)

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,0.299403,-1.226624,1.498425,-1.176150,5.289853,0.208297,2.404498,1.594506,-0.051608,0.663234,...,-0.850465,-0.622990,-1.833057,0.293024,3.552681,0.717611,3.305972,-2.715559,-2.682409,0.101050
1,-1.174176,0.332157,0.949919,-1.285328,2.199061,-0.151268,-0.427039,2.619246,-0.765884,-0.093780,...,-0.819750,0.012037,2.038836,0.468579,-0.517657,0.422326,0.803699,1.213219,1.382932,-1.817761
2,1.192222,-0.414371,0.067054,-2.233568,3.658881,0.089007,0.203439,-4.219054,-1.184919,-1.240310,...,-0.604501,0.750054,-3.360521,0.856988,-2.751451,-1.582735,1.672246,0.656438,-0.932473,2.987436
3,1.573270,-0.580318,-0.866332,-0.603812,3.125716,0.870321,-0.161992,4.499666,1.038741,-1.092716,...,1.022959,1.275598,-3.480110,-1.065252,2.153133,1.563539,2.767117,0.215748,0.619645,1.883397
4,-0.613071,-0.644204,1.112558,-0.032397,3.490142,-0.011935,1.443521,-4.290282,-1.761308,0.807652,...,0.513906,-1.803473,0.518579,-0.205029,-4.744566,-1.520015,1.830651,0.870772,-1.894609,0.408332

In [135]:
print("The shape of train data: ", train_data.shape)
print("The shape of test data: ", test_data.shape)
print("The shape of train_label data: ", train_label.shape)

The shape of train data:  (1000, 40)
The shape of test data:  (9000, 40)
The shape of train_label data:  (1000, 1)

In [136]:
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, accuracy_score

In [137]:
train_x1, test_x2, train_label_x1, test_label_x2 = train_test_split(train_data, train_label,test_size=0.1, random_state=4)

In [138]:
# Logistic regression 
lr = linear_model.LogisticRegression()
lr.fit(train_x1, train_label_x1)
x2_pred = lr.predict(test_x2)
MSE = mean_squared_error(test_label_x2, x2_pred)
print("Model_MSE: ", MSE)
acc = accuracy_score(test_label_x2, x2_pred)
print("Accuracy: ", acc)
x2_pred

Model_MSE:  0.19
Accuracy:  0.81

/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0])

In [139]:
test_data_pred = lr.predict(test_data)
enumerate(test_data_pred)
test_data_pred = pd.DataFrame(np.int64(test_data_pred))
test_data_pred .columns = ['Solution']
test_data_pred ['Id'] = np.arange(1,test_data_pred .shape[0]+1)
test_data_pred  = test_data_pred [['Id', 'Solution']]
type(test_data_pred)

test_data_pred.head(5)

   Id  Solution
0   1         1
1   2         0
2   3         1
3   4         0
4   5         0

In [140]:
test_data_pred.to_csv('submission.csv', index=False)

# kaggle Result
![First Result](https://github.com/kevinpiger/ML-100Days/blob/master/Day046-050/螢幕快照%202019-02-13%20下午9.18.05.png)