## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [24]:
import pandas as pd
import numpy as np

In [25]:
population = np.random.normal(0,1,100)
country = np.random.randint(0,10,100)

In [26]:
data = {'國家':country ,
        '人口':population }
data = pd.DataFrame(data)

In [27]:
data.head(6)

         人口  國家
0  0.708196   1
1  0.201958   2
2  0.050394   6
3 -0.751223   0
4  0.932081   8
5 -0.666382   9

In [28]:
data.groupby(by="國家")['人口'].max()

國家
0    2.193030
1    1.815512
2    1.127170
3    1.050853
4    1.149898
5    2.012590
6    1.097740
7    1.371453
8    0.952584
9    1.578066
Name: 人口, dtype: float64